# ---------------------- IOT Core -----------------------------
iot.mqtt.host=iot.aloksingh.info
iot.mqtt.port=8883

iot.keystore.type=JKS
iot.keystore.file=keystore.jks
iot.truststore.file=truststore.jks
iot.keystore.password=${KS-PASSWORD}
iot.truststore.password=${TS-PASSWORD}

#AWS IoT Core doesn't support retained=true

# Persistent Session - messages (QoS 1/2) will be queued until consumed
#                    - stores subscription information
#                    - don't need when client is just a producer (not consumer)
iot.mqtt.clean-state=false
iot.mqtt.auto-reconnect=true
iot.mqtt.conn-timeout=120
iot.mqtt.keep-alive=300
iot.mqtt-connection-retry=5

# client device certificate as CN=Alok
iot.client.id=home-stack-stmt-parser

iot.publish.qos=1
iot.subscribe.qos=1
iot.publish.topic=home/stack/stmt-res
iot.subscribe.topic=home/stack/stmt-req
iot.status.topic=home/stack/status
